:root {
    --primary        : #021A84;
    --second         : #FE4C4C;
    --dark-primary   : #010d42;
    --text           : #171717;
    --light-green    : #58d282;
    --gray           : #999999;
    --light-gray     : #e5e5e5;
    --background     : #F2F2F2;
    --green-text     : #197037;
    --green-desc-text: #156d33;
    --purple-text    : #010d42;
    --red-text       : #e5532a;
    --red-desc-text  : #d04c26;

    --green-gradient : linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), #2ADA66;
    --purple-gradient: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), #021A84;
    --red-gradient   : linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), #E5532A;
}

html,
body {
    font-family     : 'Inter', sans-serif;
    font-size       : 14px;
    background-color: var(--background);
}

.wrapper {
    max-width: 1160px;
    width    : 100%;
    margin   : 0 auto;
}

/* button */
.btn {
    height         : 44px;
    min-width      : 149px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    font-size      : 18px;
    font-weight    : 500;
    padding        : 8px 26px;
}

.btn--border {
    border       : 1px solid var(--primary);
    border-radius: 8px;
    color        : var(--primary);
    transition   : linear .2s;

}

.btn--border:hover {
    background-color: var(--primary);
    color           : white;
}

.btn--solid {
    display         : block;
    color           : white;
    background-color: var(--primary);
    border-radius   : 8px;
    cursor          : pointer;
    position        : relative;
    isolation       : isolate;
    overflow        : hidden;
}


.btn--solid:hover::before {
    left : auto;
    right: 0;
    width: 100%;
}

.btn--solid::before {
    content         : "";
    position        : absolute;
    left            : 0;
    right           : auto;
    top             : 0;
    height          : 100%;
    width           : 0;
    background-color: #fff;
    opacity         : 0.1;
    z-index         : -1;
    transition      : all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* End button */

.heading {
    font-size  : 34px;
    font-weight: 700;
    color      : var(--dark-primary);
}